[submodule "legacy"]
	path = legacy
	url = git@github.com:ericwburden/advent_of_code_legacy.git
[submodule "2020"]
	path = 2020
	url = git@github.com:ericwburden/advent_of_code_2020.git
[submodule "2021"]
	path = 2021
	url = git@github.com:ericwburden/advent_of_code_2021.git
[submodule "2022"]
	path = 2022
	url = git@github.com:ericwburden/advent_of_code_2022.git
[submodule "2023"]
	path = 2023
	url = https://github.com/ericwburden/advent_of_code_2023
